"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    helmDirSwitch: true
  "autocomplete-modules":
    babelPluginModuleAlias: true
    webpack: true
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    destroyEmptyPanes: false
    projectHome: "/Users/randy/src"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 19
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "30e6f2d0-42d3-ab77-4984-dde4c431f019"
  "expand-region": {}
  "git-blame": {}
  "git-diff":
    rspecAllCommand: "bundle exec rspec --tty spec"
    rspecFileCommand: "bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
    showIconsInEditorGutter: true
  "git-plus": {}
  "incremental-search":
    instantSearch: true
  linter:
    showErrorTabLine: true
  "linter-eslint":
    fixOnSave: true
  "linter-rubocop": {}
  "linter-sass-lint":
    noConfigDisable: true
  "markdown-deluxe":
    fontFamily: "Hack"
  "package-sync":
    forceOverwrite: true
  "ruby-test":
    specFramework: "rspec"
    testFramework: "minitest"
  "split-diff":
    syncHorizontalScroll: true
  tabs:
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style: {}
  "toggle-quotes": {}
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
"source.gfm":
  editor:
    softWrap: true
