"*":
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-elixir-formatter":
    elixirExecutable: "/Users/randy/.asdf/installs/elixir/1.6.0/bin/elixir"
    formatOnSave: "whenFormatterFilePresent"
  "autocomplete-modules":
    babelPluginModuleAlias: true
    webpack: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  autosave:
    enabled: true
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "relative-numbers"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/randy/src"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 20
    invisibles: {}
    tabType: "soft"
  elmjutsu:
    cacheDirectory: "/var/folders/kv/9khxbrpn5pb_3g080hd5qq8m0000gn/T/elmjutsu48953ISJRI9Oje2Kv"
  emmet: {}
  "exception-reporting":
    userId: "30e6f2d0-42d3-ab77-4984-dde4c431f019"
  "expand-region": {}
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-blame": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "7ca4701e-92e1-40b5-acae-87aad757c9d1"
  "hey-pane":
    expandedWidth: 75
  "incremental-search":
    instantSearch: true
  "language-babel": {}
  "language-elm":
    autocompleteEnabled: false
  linter: {}
  "linter-elixir-credo":
    flags: "--strict"
  "linter-elm-make": {}
  "linter-eslint":
    fixOnSave: true
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-ui-default":
    showPanel: true
  "markdown-deluxe":
    fontFamily: "Hack"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "plantuml-preview":
    jarLocation: "/usr/local/opt/plantuml/libexec/plantuml.jar"
  "platformio-ide-terminal":
    toggles:
      autoClose: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
    prettierOptions:
      singleQuote: true
    silenceErrors: true
  "project-manager":
    environmentSpecificProjects: true
    includeGitRepositories: true
  "ruby-test":
    specFramework: "rspec"
    testFramework: "minitest"
  "split-diff":
    syncHorizontalScroll: true
  tabs:
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style: {}
  "toggle-quotes": {}
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    sortFoldersBeforeFiles: false
    squashDirectoryNames: true
  "vim-mode":
    startInInsertMode: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".babel.regexp.source":
  editor:
    showIndentGuide: true
".css.source.styled":
  editor:
    showIndentGuide: true
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".git-commit.text":
  editor:
    preferredLineLength: 65
    softWrapAtPreferredLineLength: true
".js.jsx.source":
  editor:
    showIndentGuide: true
".languagebabel.ttlextension":
  editor:
    showIndentGuide: true
".md.text":
  editor:
    softWrapAtPreferredLineLength: true
"source.gfm":
  editor:
    softWrap: true
