packages: [
  "auto-indent"
  "expand-region"
  "git-diff-popup"
  "git-plus"
  "language-javascript-jsx"
  "markdown-scroll-sync"
  "merge-conflicts"
  "package-sync"
  "project-manager"
  "rails-open-rspec"
  "ruby-test"
  "synced-sidebar"
  "toggle-quotes"
]
