packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-elixir"
  "atom-react-native-autocomplete"
  "auto-indent"
  "auto-update-packages"
  "autocomplete-modules"
  "busy-signal"
  "color-picker"
  "emmet-simplified"
  "expand-region"
  "file-icons"
  "git-diff-popup"
  "git-plus"
  "git-time-machine"
  "hey-pane"
  "hyperclick"
  "incremental-search"
  "indent-guide-improved"
  "intentions"
  "js-hyperclick"
  "language-babel"
  "language-elixir"
  "language-javascript-jsx"
  "language-plantuml"
  "linter"
  "linter-elixir-credo"
  "linter-eslint"
  "linter-rubocop"
  "linter-sass-lint"
  "linter-ui-default"
  "list-edit"
  "local-history"
  "markdown-scroll-sync"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "plantuml-preview"
  "platformio-ide-terminal"
  "prettier-atom"
  "project-manager"
  "ramda-repl"
  "react-es6-snippets"
  "relative-numbers"
  "ruby-test"
  "smart-tab-name"
  "sort-lines"
  "split-diff"
  "toggle-quotes"
  "vim-mode"
  "vim-surround"
]
