[
  {
    title: "Contactulator All"
    paths: [
      "/Users/randy/src/zeal/contactulator_backend"
      "/Users/randy/src/zeal/contactulator_mobile"
    ]
  }
  {
    title: "Create React App Fork"
    group: "Zeal"
    paths: [
      "/Users/randy/src/zeal/create-react-app"
    ]
    icon: "icon-repo-forked",
    settings:
      "prettier-atom":
        prettierOptions:
          singleQuote: true
          trailingComma: "es5"
  }
]
